body{background:#fff;color:#555;font-family:Arial,Helvetica,sans-serif;font-size:13px}body a{color:#333;text-decoration:none}body a:hover{color:#000;text-decoration:none}body h1{font-size:25px}body h1.nf{margin-top:20px;font-size:280px}body h1.nf small{font-size:50px;display:block;text-transform:uppercase}body h2{font-size:17px;font-weight:700}body h2.header{color:#cf0000;padding-bottom:10px}body h3{font-size:15px}body ul.media{list-style:none;padding:0;margin-bottom:30px}body ul.media li{max-width:181px;width:100%;padding:1px;float:left;margin-right:10px;margin-top: 5px;margin-bottom:10px;margin-left:0px;border:1px solid #fff;border-radius:5px; background-color:#fff}body ul.media li:hover{border:1px solid #f0f0f0;background-color:#fafafa}body ul.media li:nth-child(5n) {margin-right:0}body ul.media li .mediathumb{position:relative;display:block}
span.tl {
display: inline-block;
position: absolute;
left: 5px;
top: 5px;
border-radius: 3px;
background-color: #000;
font-size: 11px;
font-weight: bold;
color: #fff;
padding: 3px 5px;
z-index: 2;
cursor: pointer
}
span.bl {
display: inline-block;
position: absolute;
left: 5px;
bottom: 5px;
border-radius: 3px;
background-color: #000;
font-size: 11px;
font-weight: bold;
color: #fff;
padding: 3px 5px;
z-index: 2;
cursor: pointer
}
section .video-sidebar .nav-sidebar li .mediathumb.tl {
display: inline-block;
position: absolute;
left: 5px;
top: 5px;
border-radius: 3px;
background-color: #000;
font-size: 11px;
font-weight: bold;
color: #fff;
padding: 3px 5px;
z-index: 2;
cursor: pointer
}

section .video-sidebar .nav-sidebar li .mediathumb.bl {
display: inline-block;
position: absolute;
left: 5px;
bottom: 5px;
border-radius: 3px;
background-color: #000;
font-size: 11px;
font-weight: bold;
color: #fff;
padding: 3px 5px;
z-index: 2;
cursor: pointer
}




section .video-sidebar .nav-sidebar li .mediathumb .tr {
display: inline-block;
position: absolute;
right: 5px;
top: 5px;
border-radius: 3px;
background-color: #000;
font-size: 11px;
font-weight: bold;
color: #fff;
padding: 3px 5px;
z-index: 2;
cursor: pointer
}
span.tr {
display: inline-block;
position: absolute;
right: 5px;
top: 5px;
border-radius: 3px;
background-color: #000;
font-size: 11px;
font-weight: bold;
color: #fff;
padding: 3px 5px;
z-index: 2;
cursor: pointer
}

 body ul.media li .mediathumb span.duration{display:inline-block;position:absolute;right:5px;bottom:5px;border-radius:3px;background-color:#000;font-size:11px;font-weight:bold;color:#fff;padding:3px 5px;z-index:2; cursor: pointer}body ul.media li .mediathumb img{width:100%;max-height:102px;transition:all .2s linear;-webkit-transition:all .2s linear;-o-transition:all .2s linear;-ms-transition:all .2s linear;-moz-transition:all .2s linear}body ul.media li .mediathumb img:hover{opacity:.8}body ul.media li h4{margin:10px 0 5px 0;font-size:14px;font-variant:700;height:35px}body ul.media li h4 a.medialink{color:#333;font-size:13px}body ul.media li h4 a.medialink:hover{color:#000}body ul.media li a.mediaauthor{width: 100%;
display: inline;
font-size: 75%;
padding-top: 5px;
background-color: rgb(50, 70, 91);
font-weight: bold;
line-height: 1;
color: #ffffff;
padding: .2em .6em .3em;
border-radius: .25em;
float: left;
margin-top:7px;
cursor: pointer
}body ul.media li a.mediaauthor:hover{color:#000}body ul.media li a.mediaauthor span.time{float: right;
display: inline;
font-size: 90%;
padding-top: 5px;
background-color: #47a447;
font-weight: bold;
line-height: 1;
color: #ffffff;
padding: .2em .3em .3em;
border-radius: .25em;}
body ul.media li .mediathumb img {
width: 100%;
max-height: 102px;
-webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
body ul.media li .mediathumb img:hover {
max-height: 102px;
  border-radius: 50%;
}
body ul.media li .mediaviews{font-size:12px;color:#999}body ul.media li.music a.medialink{color:#e22e40}body ul.media li.music a.medialink:hover{color:#e85b69}body .btn.ushare{color:#fff}body .btn.ushare.btn-facebook{background:#3b5998}body .btn.ushare.btn-twitter{background:#409dd5}body .pager li a{border-color:#2c3e50;font-weight:700;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px}body .pager li a:hover{background:#cf0000;color:#fff}body .ads{text-align:center;margin:0 auto 35px auto;clear:both;position:relative;z-index:0}body .ads:before{top:35%;left:0;text-align:center;width:96%;margin-left:2%;position:absolute;z-index:-1;color:#8c8c8c;font-weight:700}body .ads.ads-729{max-width:728px;max-height:300px;width:100%;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px}body .ads.ads-729 img,body .ads.ads-729 embed,body .ads.ads-729 iframe{width:100%;max-width:728px;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px}body .ads.ads-301{max-width:300px;width:300px;}body .ads.ads-301 img,body .ads.ads-301 embed,body .ads.ads-301 iframe{width:100%;max-width:300px;max-height:250px;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px}body .pace .pace-progress{background:#cf0000;position:fixed;z-index:2000;top:0;left:0;height:2px;box-shadow:0 0 1px #007ce6;-webkit-transition:width 1s;-moz-transition:width 1s;-o-transition:width 1s;transition:width 1s}body .pace-inactive{display:none}.row-banner img{border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px}header{color:#555;border-bottom:1px solid #e6e6e6;width:100%;min-height:60px;display:block;padding:0;margin:0;background:#e2e2e2;background:-moz-linear-gradient(top,rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(226,226,226,1)),color-stop(50%,rgba(219,219,219,1)),color-stop(51%,rgba(209,209,209,1)),color-stop(100%,rgba(254,254,254,1)));background:-webkit-linear-gradient(top,rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);background:-o-linear-gradient(top,rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);background:-ms-linear-gradient(top,rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);background:linear-gradient(to bottom,rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 )}header .logo a{font-size:20px;font-weight:700;margin-top:11px;display:inline-block;-webkit-transition:.3s linear all}header .logo a:hover{opacity:.5}header .logo a span{color:#151720}header .search{padding-top:12px}header .search #main-search .input-group-addon{border:0;background:#fff;color:#b2b2b2;border:1px solid #d2d2d2;border-right:0px;box-shadow:1px 1px 2px rgba(0,0,0,.1)}header .search #main-search input{background:#fff;color:#666;border:0;padding-left:0;box-shadow:none;transition:all .5s linear;border:1px solid #d2d2d2;border-left:0px;box-shadow:1px 1px 2px rgba(0,0,0,.1);-webkit-transition:all .5s linear;-o-transition:all .5s linear;-ms-transition:all .5s linear;-moz-transition:all .5s linear}header .search #main-search input:hover,header .search #main-search input:focus{color:#333}header .nav ul.nav-list{display:inline-block;float:right;padding-top:20px}header .nav ul.nav-list>li{list-style:none;float:left;margin:0 8px}header .nav ul.nav-list>li .upload{background:#cf0000;color:#fff;padding:5px 8px;font-weight:700;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px}header .nav ul.nav-list>li .alt{background:#e22e40;color:#fff;padding:5px 8px;font-weight:700;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px}header .nav ul.nav-list>li .user-avatar img{width:30px;margin-right:5px;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px}header .nav ul.nav-list>li.dropdown{position:relative}header .nav ul.nav-list>li.dropdown ul{position:absolute;z-index:99999;list-style:none;padding:10px;margin:10px 0;width:100%;min-width:200px;right:0;background:#fafafa;border:1px solid #e6e6e6;border-radius:2px 0 2px 2px;-moz-border-radius:2px 0 2px 2px;-webkit-border-radius:2px 0 2px 2px}header .nav ul.nav-list>li.dropdown:hover ul{display:block}section{padding-top:0px;padding-bottom:30px}section .sidebar h3{color:#cf0000;font-weight:700;padding-bottom:13px}section .sidebar ul.channels{padding:0 0 5px;list-style:none;width:100%}section .sidebar ul.channels li{width:100%;padding:5px 0}section .sidebar ul.channels li a{color:#666;padding:5px;display:block;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px}section .sidebar ul.channels li a:hover{color:#cf0000}section .sidebar ul.channels li a.current{font-weight:700;background:#cf0000;color:#fff}section  .video-player iframe,section .video-content .video-player video,section .video-content .video-player embed,section .video-content .video-player object,section .video-content .video-player img{width:100%; border:0px}section .video-content .video-info{margin-top:20px;overflow:hidden;border-bottom:1px solid #e6e6e6;margin-bottom:10px}.video-player{display: table;
width: 100%;
}.video-error{display:table-row;width:100%;height:450px;text-align:center;background-color:#000;font-size:16px;font-weight:bold;color:#fff}.video-error span{display:table-cell;vertical-align:middle;width:100%;height:450px}section .video-content .video-info .video-author{padding:0;margin:0;float:left}section .video-content .video-info .video-author img.video-avatar{max-width:48px;width:100%;height:48px;margin-right:10px;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px}section .video-content .video-info h2{float:left;font-size:16px;line-height:25px;padding:0;margin-top:5px}section .video-content .video-info h2 small{font-size:11px;display:block}section .video-content .video-info .stats{text-align: right;font-size: 16px;font-weight: 700;}section .video-content .video-info .stats p{font-size:11px;color:#999}section .video-content .video-description{overflow:hidden;max-height:150px;position:relative}section .video-content .video-descriptionbtn{overflow:hidden;max-height:150px;position:relative;cursor:pointer}section .video-content .video-comment{overflow:hidden;max-height:150px;position:relative}section .video-content .video-commentbtn{overflow:hidden;max-height:150px;position:relative;cursor:pointer}section .video-content .video-share{margin-bottom:15px}section .video-content .ads{margin:8px auto}section .video-sidebar{width:27.32%;}section .video-sidebar h3{font-weight:700;margin-bottom:15px;color:#999}section .video-sidebar .nav-sidebar{list-style:none;padding:0;width:100%}section .video-sidebar .nav-sidebar li{margin-bottom:15px;clear:both;overflow:hidden;width:100%}section .video-sidebar .nav-sidebar li .mediathumb{position:relative;float:left}section .video-sidebar .nav-sidebar li .mediathumb .duration{position:absolute;display:inline-block;background-color:rgba(0,0,0,.5);color:#fff;font-size:11px;border-radius:3px;padding:3px 5px;right:10px;bottom:5px;z-index:3;font-weight:bold}section .video-sidebar .nav-sidebar li .mediathumb a img{float:left;width:150px;margin-right:5px;}section .video-sidebar .nav-sidebar li h4{margin-top:0;font-size:12px}section .video-sidebar .nav-sidebar li h4 span{margin-top:5px;color:#bfbfbf;display:block}section .video-sidebar .nav-sidebar li .mediaauthor{display:none}section #comments{margin-top:20px}section #comments iframe{width:100%}section .form{max-width:450px;width:100%;margin:0 auto;padding-top:30px}footer{border-top:1px solid #e6e6e6;padding:15px 0;background:#fafafa}footer .footer-logo h2{margin-top:0}footer .footer-logo h2 small{margin-top:5px;display:block}h2 small a{color:#999}#rowEmbedCode{display:none;margin-bottom:10px}.top10{margin-top:10px}@media screen and (max-width:1200px){.video-content,.video-sidebar{width:auto!important}body ul.media li:nth-child(5n) {margin-right:10px}body ul.media li:nth-child(4n) {margin-right:0}}@media screen and (max-width:996px){header{padding-bottom:15px}body ul.media li{max-width:232px}body ul.media li img{max-height:200px!important}body ul.media li:nth-child(5n) {margin-right:10px}body ul.media li:nth-child(4n) {margin-right:10px}body ul.media li:nth-child(3n) {margin-right:0}.video-sidebar .nav-sidebar li img{width:200px!important;margin-right:20px}.video-sidebar .nav-sidebar li h4{font-size:15px!important;margin-top:10px!important}.video-sidebar .nav-sidebar li h4 span{margin-top:30px!important}}@media screen and (max-width:766px){.ads{height:auto!important}.ads:before{content:' '!important}body ul.media li{max-width:48%}body ul.media li img{max-height:200px!important}body ul.media li:nth-child(2n) {margin-right:0}body ul.media li:nth-child(3n) {margin-right:10px}}@media screen and (max-width:450px){header{padding-bottom:15px}body ul.media li{max-width:100%}body ul.media li img{max-height:200px!important}iframe{min-height:200px!important}.video-sidebar .nav-sidebar li img{width:100px!important;margin-right:20px}.video-sidebar .nav-sidebar li h4{font-size:12px!important;margin-top:5px!important}.video-sidebar .nav-sidebar li h4 span{margin-top:5px!important}}@charset "UTF-8";@font-face {
  font-family: "vimotube";
  src:url("../fonts/vimotube.eot.html");
  src:url("../fonts/vimotube.eot%3F.html") format("embedded-opentype"),
    url("../fonts/vimotube.woff.html") format("woff"),
    url("../fonts/vimotube.ttf.html") format("truetype"),
    url("../fonts/vimotube.svg.html") format("svg");
  font-weight: normal;
  font-style: normal;

}[data-icon]:before{font-family:""!important;content:attr(data-icon);font-style:normal!important;font-weight:normal!important;font-variant:normal!important;text-transform:none!important;speak:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}[class^="icon-"]:before,[class*=" icon-"]:before{font-family:;font-style:normal!important;font-weight:normal!important;font-variant:normal!important;text-transform:none!important;speak:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.icon-ico-popular:before{content:"a"}.icon-ico-music:before{content:"b"}.icon-ico-technology:before{content:"c"}.icon-ico-popular2:before{content:"d"}.icon-ico-movie:before{content:"e"}.icon-ico-comedy:before{content:"f"}.icon-ico-gaming:before{content:"g"}.icon-ico-howto:before{content:"h"}.icon-ico-movie2:before{content:"j"}.icon-ico-movie3:before{content:"i"}.icon-ico-news:before{content:"k"}.icon-ico-people:before{content:"l"}.icon-ico-technology2:before{content:"m"}.icon-ico-movie4:before{content:"n"}.icon-ico-sports:before{content:"o"}
 
.video-js .branding{
	 		position: absolute;
	 		right: 10px;
	 		top: 10px;
	 		width: 90px;
	 		height: 32px;
	 		background-color: #1d1d1d;
	 		background-repeat: no-repeat;
	 		background-size: 70px;
	 		background-image: url(../imgs/logo-dark.png);
	 		background-position: 50%;
	 		z-index: 1050;
	 		border: 0px;
	 		border-radius: 4px;
	 	}
	 	.video-js .videoWrapper {
			padding-top: 0px;
			margin-left: -5px;
			margin-right: 5px;
			height: 0;
			z-index: 1000;
			}

		.video-js .videoWrapper .video-js {
			position: absolute;
			top: 0;
			left: 0;
			width: 100% !important;
			height: 100% !important;
			z-index: 1;
			background: #000000;
		}

		.video-js .videoWrapper object,
		.video-js .videoWrapper embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100% !important;
			z-index: 1;
		}

		.video-js .vjs-control-bar {
			z-index: 1002;
		}

		.video-js .vjs-big-play-button {
			z-index: 1002;
		}

		.video-js .vjs-spinner {
			display: none !important;
		}

		.video-js .vjs-poster {
			z-index: 1;
		}
		
		.video-js .related{
			display: none;
			position: absolute;
			width: 100%;
			height: 140px;
			left: 0px;
			top: 50%;
			margin-top: -90px;
			background: #222;
			z-index: 10000;
			opacity: 0.9;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		
		.video-js .related .feed{
			display: inline-block;
		}
		
		.video-js .related .feed:hover{
			box-shadow: 0 0 6px #fff;
		}
		
		.video-js .related .feed .thumbnail{
			height: 140px; 
			overflow: auto; 
			position: relative;
		}
		
		.video-js .related .feed .thumbnail img{
			height: 140px;
		}
		
		.video-js .related .feed .thumbnail .link{
			position:absolute; 
			width: 100%; 
			height: 100%; 
			top: -120px; 
			left: 0px; 
			right: 0px; 
			bottom: 0px;
			color: #fff; 
			text-align: center; 
			text-decoration: none; 
			font-size: 12px;	
			text-shadow: 0 1px 2px #000;
			
		}
		
		.video-js .related-title{
			text-decoration: none; 
			color: #fff; 
			position: absolute; 
			width: 200px; 
			height: 40px; 
			line-height: 40px; 
			top: 50%; 
			left: 50%; 
			margin-left: -100px; 
			margin-top: -160px; 
			background: #222;
			border-radius: 4px;
			opacity: 0.9;
		}
				/* AD */
		.ad{
			display: block;
			position: absolute;
			width: 300px;
			height: 250px;
			top: 50%;
			left: 50%;
			margin-top: -125px; 
			margin-left: -150px;
			z-index: 9999;
			background: #fff;
		}
		
		.ad .close{
			position: absolute;
			display: block;
			width: 20px;
			height: 20px; 
			top: 5px;
			right: 5px;
			font-weight: bold;
			font-size: 16px;
			text-decoration: none;
			color: #000000;
			background: #d8d8d8;
			border-radius: 10px;
			text-align: center;
			line-height: 17px;
		}
		
		@media only screen and (max-width: 790px), only screen and (max-device-width: 790px) {
			.video-js .related{
				height: 100px;
				margin-top: -70px;
			}
			
			.video-js .related .feed .thumbnail{
				height: 100px;
			}
			
			.video-js .related .feed .thumbnail img{
				height: 100px;
			}
			
			.video-js .related .feed .thumbnail .link{
				top: -80px;
				font-size: 8px;
			}
				
		}
		
		@media only screen and (max-width: 570px), only screen and (max-device-width: 570px) {
			#id3{
				display: none;
			}
			
			.video-js .related-title{
				width: 150px;
				height: 30px;
				line-height :30px;
				margin-top: -15px;
				margin-left: -75px;
				top: -60px;
			}
			
			.ad{
				display:none;
			}
			
		}
		
		@media only screen and (max-width: 435px), only screen and (max-device-width: 435px) {
			#id2{
				display: none;
			}
			
			.video-js .related-title{
				width: 150px;
				height: 30px;
				line-height :30px;
				margin-top: -15px;
				margin-left: -75px;
				top: -20px;
				font-size: 11px;
			}
		}
		
		@media only screen and (max-width: 320px), only screen and (max-device-width: 320px) {
			.video-js .related{
				display: none;
			}
			.video-js .related-title{
				display: none;
			}
		}