<div class="panel panel-default" style="margin-right: 9%; margin-left: 2%;">
    <div class="panel-heading font-bold">
        <h2 class='pull-left'>
            <i class="fa fa-video-camera"></i>
            Vines
        </h2>
        <span class="badge bg-warning pull-right"><a href='http://vimosound.com/user/UCi_V-NWe_nqsj5AlT3SIN_g' >View More</a></span>
    </div>
    <div class="panel-body">
        <center>
            <ul class='media'>
                {% for i in 0..4 %}
                    {% include "parts/item.twig" %}
                {% endfor %}
            </ul>
            <script type="text/javascript">
                if (videos){
                    videos.push("QT15lEg8vmI","vXuC7up7dKw","h_35_qWApbU","zoxt7YfoOak","iz518pbDY_k");
                } else {

                    var videos=["QT15lEg8vmI","vXuC7up7dKw","h_35_qWApbU","zoxt7YfoOak","iz518pbDY_k"];
                }
            </script>
        </center>
    </div>
</div>