<form action='http://vimosound.com/search' id='search-form-2' onsubmit='return validateForm2();' method='get' target='_top' class="m-b-md ng-pristine ng-valid visible-xs"><br>
    <div class="input-group">
        <input type="text" name='q' id="search-text-2" class="form-control input-lg" placeholder="Type keyword">
      <span class="input-group-btn">
        <button class="btn btn-lg btn-default" id='search-button-2' type="button">Search</button>
      </span>
    </div>
</form>
