<li ui-sref-active="active">
    <a href="http://vimosound.com/history">
        <i class="glyphicon glyphicon-eye-open icon text-info-dker"></i>
        <span class="font-bold" >Recently Watched</span>
    </a>
</li>